{% extends 'mailing/base.html' %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Cтатистикa</h1>
</div>

<div class="container">
        <div class="col-12 d-flex justify-content-center">
            <div class="card">
                <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>Получатель: {{ object.contacts }}</li>
                            <li>Дата последней попытки: {{ object.try_time }}</li>
                            <li>Статус: {{ object.try_status }}</li>
                            <li>Ответ сервера: {{ object.server_answer }}</li>
                            <li>Рассылка: {{ object.mailing.message.topic }}</li>
                        </ul>
                        <a href="{% url 'mailing:log_list' %}" class="btn ml-3 btn-outline-success">Назад</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}